<form class="login-form">
    <label for="email">Correo electrónico:</label>
        <input type="email" id="email" class="form-input" [(ngModel)]="User.Email" [ngModelOptions]="{standalone: true}">

    <label for="email">Nombre de Usuario:</label>
        <input type="username" id="username" class="form-input" [(ngModel)]="User.Name" [ngModelOptions]="{standalone: true}">
    
    <label for="password">Contraseña:</label>
        <input type="password" id="password" class="form-input" [(ngModel)]="User.Password" [ngModelOptions]="{standalone: true}">
    
    <button (click)="saveData()" class='btn -btn-primary' type="submit" class="form-button">Iniciar sesión</button>
    <p>
        {{User.Name}}
        {{User.Email}}
        {{User.Password}}
    </p>
</form>