<!--
Llamamos al grupo de controles de formulario signInForm
definimos un handleSubmit para el form para manejar el submit
-->
<form class="login-form" [formGroup]="signInForm" (ngSubmit)="handleSubmit()">
    <!-- Asignamos el Controlador de formulario Email al input con el Label de Email -->
    <label for="Email">Correo Electronico:</label>
        <input type="email" id="Email" class="form-input" formControlName="Email">
    <!-- Asignamos el Controlador de formulario Password al input con el Label de la contraseña -->
    <label for="password">Contraseña:</label>
        <input type="password" id="password" class="form-input" formControlName="Password">
    <!-- Especificamos que si los controladores del grupo de controladores signInForm no son validos, 
    no se pueda accionar el boton por ende no se pueda activar el submit -->
    <button class='btn -btn-primary' type="submit" class="form-button" [disabled]="!signInForm.valid">Iniciar sesión</button>
</form>