<div class="main-container">
    <h1>Página Principal</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum imperdiet venenatis felis, ut bibendum felis efficitur ut. Sed sit amet dui vitae libero fermentum dignissim. Nullam ultricies interdum justo, sed elementum metus. Integer eu ex ut est finibus fermentum. Curabitur sit amet malesuada justo. In facilisis nulla a nulla porttitor viverra. Donec dignissim, nunc a dapibus efficitur, ligula nisi varius elit, non tincidunt libero nunc at ligula.</p>
  </div>